body {
	height: 100%;
	width: 100%;
	background-image: url("http://www.allfons.ru/pic/201201/2560x1440/allfons.ru-4631.jpg");
	background-size: cover;	
}

h1 {
	text-align: center;
	font-family: serif;
	color:#ffe4e1;
	margin-top: 50px;
	margin-bottom: 50px;
}
p {
color: #fffafa
}
.lead 
{
	font-weight: normal;
}

footer {
  display: block;
  bottom: 0;
  width: 100%;
  height: 60px;
  position: absolute;
}
 
 .container {
 	margin-bottom: 60px;
 }